
/* tagName {} */
img {
    width: 250px;
    height: 200px;
}

.brazil-picture {
padding-left: 1.2cm;
padding-right: 0.9cm;
width: 166px;
height:200px;

}

caption {
    text-align: center;
    font-weight: bold;

}

#imageThree {

    width: 250px;
    height: 60px;
}
